* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    height: 100%;
}
body {
    font-family: 'Raleway', sans-serif;
    overflow: visible;
    height: auto;
    max-height: none;
    font-weight: 500;
    overflow-x: hidden;
    margin: 0;
    background-color: #000;
}
a, button, body {
    color: #eda6b3;
    text-shadow: 1px 1px 0px rgba(0,0,0,0.4);
}
.background-video {
    position: fixed;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    z-index: -1;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    -o-object-fit: fill;
    object-fit: fill;
}
.background-video > video {
    background-size: cover;
    background-position: 50% 50%;
    background-image: url('./static/media/background-poster.jpg');
    position: absolute;
    margin: auto;
    width: 100%;
    height: 100%;
    right: -100%;
    bottom: -100%;
    top: -100%;
    left: -100%;
    object-fit: cover;
    opacity: 1;
    transition: 0.5s opacity;
}
.background-video > video.scrolled {
    opacity: 0.5;
}


nav {
    left: 0;
    right: 0;
    top: 0;
    position: fixed;
    min-height: 55px;
    z-index: 100;
    transition: 0.3s;
}
nav.scrolled {
    background-color: #161614 !important;
}
.nav-wrapper {
    position: relative;
    width: 100%;
    max-width: 1000px;
    margin: auto;
}
.nav-logo {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    font-weight: 600;
    font-size: 30px;
    padding: 10px 15px;
    text-decoration: none;
}

.nav-dropdown {
    font-family: 'Raleway', sans-serif;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;
    font-weight: 600;
    font-size: 18px;
    padding: 18px 15px;
    background-color: transparent;
    border: none;
    text-align: right;
}
.nav-dropdown .icon i {
    transition: 0.3s;
    cursor: pointer;
}
.nav-dropdown .items a {
    text-decoration: none;
    transition: 0.3s color;
    margin: 0px 10px;
}
.nav-dropdown .items a:hover {
    color: #fff;
}
.nav-dropdown .items {
    display: none;
}
.nav-dropdown:focus .items,
.nav-dropdown:hover .items {
    display: block;
}
.nav-dropdown:focus {
    outline: none;
}
.nav-dropdown:focus .icon i,
.nav-dropdown:hover .icon i {
    transform: rotate(180deg);
}
.nav-dropdown:hover .icon i {
    color: #fff;
}
@media(min-width: 700px) {
    .nav-dropdown .items {
        display: block;
    }
    .nav-dropdown .icon {
        display: none;
    }
}
@media(max-width: 700px) {
    .nav-dropdown .items a {
        display: block;
        margin: 5px 0px 0px;
    }
}


.songkick {
    max-width: 800px;
    margin: 50px auto 200px;
    min-height: 200px;
}


.about {
    margin: 50px 0;
    width: 100%;
    /* overflow-x: hidden; */
    position: relative;
    padding: 50px 0px;
    background-color:#161614;
    color:  #eda6b3;
    text-shadow: none;
}
.about .wrapper {
    max-width: 1100px;
    width: 100%;
    padding: 0px 50px;
    margin: auto;
}
.about .text {
    position: relative;
    line-height: 1.5;
    white-space: pre-wrap;
    
}



.footer-links {
    position: fixed;
    text-align: center;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}
.footer-links a {
    display: inline;
    padding: 0px 3px 0px;
    margin: 0px 7px;
    font-size: 22px;
    text-decoration: none;
    transition: 0.3s color;
}
.footer-links a:hover {
    color: #fff;
}
.footer-links .listen{
    position: absolute;
    top: -20px;
    width: 100%;
    text-align: center;
    font-size: 12px;
    left: 0;
}

.contacts {
    width: 100%;
    margin: 20px 0 0;
    padding-bottom: 66px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.contacts .contact {
    padding: 6px;
}
.contacts a {
    text-decoration: none;
    transition: 0.3s;
    font-size: 20px;
    font-weight: 700;
}
.contacts a:hover {
    color: white;
}
.contacts a i {
    font-size: 10px;
    position: relative;
    top: -5px;
}
.epk {
    padding: 8px 8px;
    margin: 4px auto;
    border: 1px solid #eda6b3;
    border-radius: 3px;
    width: max-content;
}
.epk .label {
    font-size: 14px;
    padding: 4px;
}
.epk a {
    padding: 12px 8px;
    font-size: 12px;
}


::-webkit-scrollbar {
    width: 8px;
    padding: 0px;
}
::-webkit-scrollbar-track {
    background: #000;
}
::-webkit-scrollbar-thumb {
    background: #eda6b3;
    border-radius: 0px;
}
::selection {
    background: #c8b0ed;
    color: white;
}
::-moz-selection {
    background: #c8b0ed;
}
input,
textarea,
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
    background-image: none;
}